.topbarContainer {
  height: 50px;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
}

.topbarLeft {
  flex: 3;
}

.logo {
  font-size: 24px;
  margin-left: 20px;
  color: #23395b;
  font-weight: bold;
  cursor: pointer;
}

.topbarCenter {
  flex: 5;
}

.searchBar {
  width: 100%;
  height: 30px;
  background-color: #dadada;
  border-radius: 30px;
  display: flex;
  align-items: center;
}

.searchIcon {
  font-size: 15px !important;
  margin-left: 10px;
}

.searchInput {
  border: none;
  width: 70%;
  background-color: #dadada;
}

.searchInput:focus {
  outline: none;
}

.topbarRight {
  flex: 4;
}
